/* *{
    font-family: monospace;
}
*/

body {
    font-size: 24px;
}

#first, #second{
    color: blueviolet;
}

#first>p {
    color: red
    
}

.purple{
    color: darkgoldenrod;
    font-family: monospace;
}

.highlight{
    background-color: yellow;
    font-weight: bolder;
    font-style: italic;
}